 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Bienvenido al sistema de turnos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="huge">Caja</span>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" (click) = "onSelectTurn('cajas')">
                    <span class="pull-left">Seleccionar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix" ></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="huge">Asesoría</span>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Seleccionar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-5 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="huge">Servicio al cliente</span>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Seleccionar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="container" [hidden]="submitted">
            <h1>Ingrese sus datos</h1>
            <form *ngIf="active" (ngSubmit)="onSubmit()" #nameForm="ngForm">
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="client.name" name="name"  #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  Nombre requerido
                </div>
                <button type="submit" class="btn btn-default">Tomar turno</button>
              </div>
            </form>
        </div>
    </div>
    <div class="row" [hidden]="reponseTurn">
        <div class="panel panel-success col-lg-6">
            <div class="panel-heading">
                <h3> Su turno es: </h3>
            </div>
            <div class="panel-body">
                <h2>{{client.turn}}</h2>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>