<div id="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Digi Turnos App</a>
        </div>
        <!-- /.navbar-header -->
        <app-menu-main></app-menu-main>
	</nav>
</div>
<div id="page-wrapper">
    <!-- Content Wrapper. Contains page content -->
    <router-outlet></router-outlet>
</div>
