 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Cajas</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Turnos
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Turno</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success" *ngFor="let turn of turns | async">
                                <td>{{turn.name}}</td>
                                <td>{{turn.turn}}</td>
                                <td><button type="button" class="btn btn-primary btn-sm" (click)="updateTurn(turn.$key, turn)">Atender</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>